.stats{
	margin-top: 0.5rem;
}
						.dashboard-nav-card {
						  background: #0b567c; 
						  border-radius: 0;
						  color: #fefefe;
						  display: block;
						  min-height: 80px;
						  padding: 2rem;
						  position: relative;
						  width: 100%;
						  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
						  border-radius: 2px;
						}
								#estudante{
									background: #08374f;
								}
								#disciplina{
									background: #e2a041;	
								}
								#sala{
									background: #8ea6b3;
								}	

						.dashboard-nav-card-icon {
						  font-size: 1.25rem;
						  left: 1.6rem;
						  opacity: 0.5;
						  position: absolute;
						  top: 1rem;
						  transition: all 0.2s ease;
						  width: auto;
						}
								.dashboard-nav-card > .fa {
									font-size:30px;
								}

						.dashboard-nav-card-title {
						  bottom: 0;
						  position: absolute;
						  right: 1rem;
						  text-align: right;
						  font-size:15px;
						}
