form{
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: bold;

}
	form h1 {
		font-size: 2.4rem;
		border-bottom: 3px solid #8ea4af;
		margin-bottom: 1.4rem;
		color: #4e5a60;
	}
	form h5 {
		font-size: 1.2rem;
		border-bottom: 3px solid #8ea4af;
		margin-bottom: 1.4rem;
		color: #4e5a60;
	}

	form .button{
		background-color: #e2a041;
		font-size: 0.9rem;
		font-weight: bold;
		border-radius: 2px;
	}
	form .button:hover{
		background-color: #e7b163;
	}

	.sucesso {
		font-size: 1.3rem;
		color: green;
		text-align: center;
	} 