.tabela {
	border-top: 3px solid #8ea4af;
}

.avaliacao h1{
	font-size: 1.6rem;
	margin-bottom: 0.7rem;
	color: #4e5a60; 
}



.espacamento-conta{
	margin-top: 5rem;
	margin-bottom: 40%;
	background-color: blue;
}
